html, body, div, header, footer, section, article {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html, body {
  font: #{$font-size--base} / #{$line-height--base} $font--base;
  color: $color--base;
  background: $body-bg;
}

body {
  overflow-x: hidden;
}

.layout {
  width: 100vw;
  .no-touch & {
    padding-right: $scroll-width;
  }
  
  &--home.layout--desktop {
    background: url('../img/home-bg.jpg') top center no-repeat;
    @media #{$home-height} {
      background-size: cover;
      background-position-y: 15%;
      //background-position-x: 47%;
    }
    @media screen and (min-height: 650px) and (max-height: 767px) {
      //background-position-x: 47%;
    }
  }
  &--test.layout--desktop {
    background: url('../img/test-bg.jpg') top center no-repeat;
    background-size: cover;
    min-height: 100vh;
    
    @media screen and (min-height: 630px) and (max-height: 767px) {
      background-position-y: 3vh;
    }
    @media screen and (min-height: 768px) and (max-height: 920px) {
      background-position-y: 2vh;
    }
  }
}

.page {
  overflow: hidden;
  //min-height: calc(100vh - 5.5rem);
  .layout--desktop &__header {
    background: url('../img/page-bg.jpg') top center no-repeat;
    min-height: 820px;
    color: $color--alt;
  }
  .layout--mobile &__header {
    background: $color--primary;
    color: $color--alt;
    padding-top: 60px;
    margin-bottom: -1px;
    &::before {
      content: '';
      display: block;
      @include size(0);
      @include absolute(top -50px left 0);
      border-bottom: 50px solid $color--primary;
      border-right: 320px solid transparent;
    }
  }
  &__heading [class*="tp-heading--"],
  &__heading-text [class*="tp-body--"] {
    color: inherit;
  }
  &__heading [class*="tp-heading--"] {
    font-weight: 300;
  }
  &__heading .tp-heading--huge {
    line-height: 0.9;
    letter-spacing: 0;
    text-transform: none;
    .layout--desktop & {
      font-size: 80px;
    }
    .layout--mobile & {
      font-size: 45px;
    }
  }
  &__heading .tp-heading--large {
    line-height: 1;
    .layout--desktop & {
      font-size: 52px;
    }
    .layout--mobile & {
      font-size: 40px;
    }
  }
  &__heading-text .tp-body--medium {
    letter-spacing: 0.09em;
    .layout--mobile & {
      line-height: 2rem;
    }
  }
  .layout--desktop.layout--landing &__img {
    @include absolute(top 233px left 562px);
  }
}

.container {
  @include center-block;
  width: 100%;
  max-width: 1000px;
  .layout--desktop & {
    padding: 0 1.25rem;
  }
  .layout--mobile & {
    padding: 0 10px;
  }
}

.hidden {
  display: none!important;
}
.invisible {
  visibility: hidden;
}