@import 'owl.carousel/core';
@import 'owl.carousel/animate';
//@import 'owl.carousel/autoheight';
//@import 'owl.carousel/lazyload';
//@import 'owl.carousel/video';

.owl-nav {
  @include absolute(top 50% left 0);
  @include size(100%, 4.75rem);
  display: flex;
  justify-content: space-between;
  margin-top: -2.375rem;
}
.owl-prev,
.owl-next {
  @include circle(4.75rem, 50%);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s;
  border: 2px solid #959595;
  
  &.disabled {
    opacity: 0.15;
    cursor: default!important;
  }
}
@each $dir in (prev, next) {
  .owl-#{$dir} {
    background-image: url('../img/arrow-#{$dir}.svg');
  }
}

.carousel {
  $nav-color: #605ca8;
  &--home {
    margin-left: -224px;
    width: calc(100% + 224px);
    
    .owl-nav {
      top: 450px;
      left: auto;
      right: 0;
    }
    .owl-prev {
      display: none;
    }
    .owl-next {
      background: url('../img/arrow-double.svg') -50% center repeat-x;
      background-clip: content-box;
      background-size: 4.75rem 2.75rem;
      @include absolute(top 0 right 7.5rem);
      @include size(4.75rem);
      border-radius: 50%;
      color: $nav-color;
      border: 3px solid transparent;
      overflow: visible;
      transition: border-color 0.2s 0.1s;
      animation: bg-pos--forward 0.5s;
      &::before {
        content: '';
        display: block;
        @include absolute(top -2px left -2px);
        @include size(100%);
        border-radius: 50%;
        border: 2px solid currentColor;
        transform-origin: center;
        transition: transform 0.2s;
      }
      &:hover {
        border-color: #dfb8ea;
        animation: bg-pos 0.5s;
        
        &::before {
          transform: scale(1.2);
        }
      }
      &::after {
        content: 'Следующее интеврью';
        display: block;
        width: 7.5rem;
        font-size: $font-size--main;
        line-height: normal;
        font-weight: bold;
        text-decoration: underline;
        @include absolute(top 1rem left 6rem);
        background: transparent;
      }
    }
  }
}
@keyframes bg-pos {
  from {
    background-position-x: -50%;
  }
  to {
    background-position-x: -1310%;
  }
}
@keyframes bg-pos--forward {
  from {
    background-position-x: -1310%;
  }
  to {
    background-position-x: -2580%;
  }
}