.footer {
  padding: 2rem;
  
  @media #{$home-height} {
    .layout--home & {
      padding: 1rem;
    }
  }
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}