.header {
  z-index: $z-index--header;
  @include size(100%, $header-height);
  background: $header-bg;
  color: $header-color;
  
  .layout--landing & {
    @include fixed(top 0 left 0);
    width: 100vw;
    background: $body-bg;
    padding-right: $scroll-width;
    
    & + .page {
      padding-top: $header-height;
    }
  }
  .layout--mobile & {
    @include absolute(top 0 left 0);
    width: 100vw;
    & + .page {
      padding-top: 60px;
    }
  }
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    @media #{$lg} {
      padding: 0 2rem;
    }
    .layout--mobile & {
      justify-content: flex-end;
      padding: 10px 10px 0;
    }
  }
  &__logo {
    max-height: $header-height;
    img {
      max-height: $header-height;
    }
    .layout--desktop &.logo--huawei {
      margin-top: 0.75rem;
      margin-left: 3rem;
    }
    .layout--mobile &.logo--huawei {
      @include absolute(top 50px left 50%);
      width: 200px;
      margin-left: -100px;
    }
  }
}