.layout--desktop .interview {
  &__heading {
    @include absolute(top 380px left 670px);
    @media #{$home-height} {
      .tp-heading--large {
        font-size: 4.15vh;
      }
      .interview__position {
        font-size: 2.2vh;
      }
    }
    @media screen and (min-height: 630px) and (max-height: 700px) {
      top: 320px;
    }
  }
  &__link.btn {
    @media #{$home-height} {
      margin-top: 2vh!important;
      font-size: 1.71vh;
      padding: 1.46vh 3.9vh;
    }
  }
  &__name {
    letter-spacing: 0.02em;
  }
  &__photo {
    @media #{$home-height} {
      width: 62%;
      margin-left: auto;
      margin-right: 38%;
      @media screen and (min-height: 630px) and (max-height: 700px) {
        width: 61.4%;
        margin-right: 38.6%;
      }
      @media screen and (min-height: 700px) and (max-height: 767px) {
        width: 61.6%;
        margin-right: 38.4%;
      }
      @media screen and (min-height: 768px) and (max-height: 820px) {
        width: 61.8%;
        margin-right: 38.2%;
      }
      img {
        width: auto;
        height: 78vh;
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
}