.layout--desktop .promo {
  height: 595px;
  background: url('../img/promo-bg.jpg') left center no-repeat;
  transition: background-position-x 1s;
  &.animate {
    background-position-x: 80%;
  }
  
  &__text {
    margin-top: 120px;
  }
  &__note {
    margin-right: -2.5rem;
  }
}
.layout--mobile .promo {
  background: url('../img/m-promo-bg.png') top center no-repeat;
  padding-top: 55px;
  img {
    max-width: 100%;
  }
}