.page {
  .layout--desktop &--home {
    margin-top: -1 * $header-height;
    padding-top: 20px;
    margin-bottom: -2rem;
    
    @media #{$home-height} {
      height: calc(100vh - 56px);
      margin-bottom: 0;
    }
  }
  .layout--mobile &--home {
    background: url('../img/m-home-bg.jpg') top center no-repeat;
    padding-bottom: 1.5rem;
  }
  .layout--desktop &--home &__img,
  .layout--desktop &--home &__heading {
    margin-left: 210px;
  }
  .layout--desktop &--home &__img {
    @media #{$home-height} {
      height: 3vh;
      img {
        width: auto;
        height: 100%;
      }
    }
  }
  .layout--desktop &--home &__text {
    @include absolute(top 130px left 565px);
    @media screen and (max-height: 670px) and (min-height: 630px) {
      top: 100px;
    }
  }
  &--home &__heading,
  &--home &__text {
    color: $color--alt;
    z-index: 2;
    
    .tp-body--base {
      line-height: 1.88em;
      letter-spacing: 0.1em;
      @media #{$home-height} {
        font-size: 1.95vh;
      }
    }
  }
  &--home &__heading {
    @media #{$home-height} {
      &.tp-heading--huge {
        font-size: 8.29vh;
      }
    }
  }
}