.page {
  .layout--desktop &--ls {
    margin-bottom: -95px;
  }
  .layout--desktop &--ls &__content {
  margin-top: -160px;
  }
  .layout--desktop &--ls .slider {
    width: 780px;
    padding: 0 100px;
  }
  &--ls + .footer {
    padding-bottom: 5rem;
  }
}
.ls {
  &-4 {
    .text-wrapper {
      margin-left: -5px;
    }
  }
  &-10 {
    img {
      margin-right: -20px;
    }
  }
}